.big-card {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content * {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: calc(0.04 * 1rem);
}

.title {
  font-weight: 700;
  color: #000;
}
