.carousel-container {
  height: 50vh;
  overflow: hidden;

  position: relative;
}

.carausel-background-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  filter: blur(10px);
}

.carausel-background-overlay-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-background-overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.carousel-image-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  transition: left 1s ease;
}

.carousel-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.carousel-container:hover .carousel-background-overlay {
  transform: scale(1.1);
}

.carousel-image-container.left {
  left: -120%;
}

.carousel-image-container.right {
  left: 200%;
}

.carousel-image-container.hidden {
  right: 100%;
  display: none;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100%;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.carousel-container:hover .carousel-control {
  pointer-events: all;
  opacity: 1;
}

.carousel-control-left {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  left: 0;
}

.carousel-control-right {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  right: 0;
}

.carousel-control-icon {
  width: 100%;
}

/* responsive styles */

@media screen and (max-width: 640px) {
  .carousel-container {
    min-height: 30vh;
  }

  .carousel-image-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    transition: left 1s ease;
  }

  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-control {
    width: 30px;
    opacity: 1;
    pointer-events: all;
    z-index: 10;
  }
}
